IMAGE_NAME=khazaros
IMAGE_REGISTRY=ghcr.io
IMAGE_REGISTRY_USER=khazar-system-distribution
IMAGE_DESCRIPTION="KhazarOS - AI-powered Fedora Silverblue downstream"
IMAGE_FLAVOR=main
MAINTAINER="Khazar System Distribution"
